In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import warnings
import pandas as pd
pd.set_option('display.max_columns', None)
warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
warnings.filterwarnings(action="ignore", message="credentials were not supplied. open data access only")

In [4]:
from socceraction.spadl.wyscout import *
from socceraction.data.wyscout import WyscoutLoader
from socceraction.data.base import _localloadjson
from socceraction.data.wyscout.loader import _convert_events
from socceraction.data.wyscout.schema import WyscoutEventSchema

**Import Version 2 data sample** <br>
This will be used to compare with the updated v3 results

In [5]:
v2_obj = _localloadjson("../Data/Events/v2_response.json")
v2_raw_df = pd.DataFrame(v2_obj['events'])
df_events_v2 = _convert_events(pd.DataFrame(v2_raw_df))
events_df_v2 = cast(DataFrame[WyscoutEventSchema], df_events_v2)
events_df_v2.head()

,event_id,game_id,period_id,milliseconds,team_id,player_id,type_id,type_name,subtype_id,subtype_name,positions,tags
0,1646549577,5345057,1,3187.0,3161,372255,8,Pass,85,Simple pass,"[{'x': 49, 'y': 50}, {'x': 34, 'y': 50}]",[{'id': 1801}]
1,1646549578,5345057,1,6645.0,3161,20635,8,Pass,83,High pass,"[{'x': 34, 'y': 50}, {'x': 75, 'y': 96}]",[{'id': 1801}]
2,1646549581,5345057,1,9512.0,3161,330003,1,Duel,10,Air duel,"[{'x': 75, 'y': 96}, {'x': 83, 'y': 100}]","[{'id': 701}, {'id': 1802}]"
3,1646549855,5345057,1,9512.0,3157,344132,1,Duel,10,Air duel,"[{'x': 25, 'y': 4}, {'x': 17, 'y': 0}]","[{'id': 703}, {'id': 1801}]"
4,1646549582,5345057,1,11790.0,3161,0,5,Interruption,50,Ball out of the field,"[{'x': 73, 'y': 100}]",[]